.TodoTemplate {
    width: 512px;
    //width가 주어진 상태에서 좌우 중앙 정렬
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;


.app-title{
    background: #F7CAC9;
    color: #676767;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content{
    background: white;
    }
}